body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input[type="file"] {
  background: #efefef;
}

#output {
  margin-top: 10px;
}

#output p {
  margin-top: 10px;
  margin-bottom: 0;
  background: #efefef;
  text-align: right;
  font-size: small;
}

#output textarea {
  width: 99%;
}

.error {
  color: red;
}
