<!DOCTYPE html>
<html>

<head>
<title>DICOM Part06 xml2json</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />

<!-- local -->
<script src="../src/parser.js"></script>
<script src="../src/nema.js"></script>
<script src="../src/gui.js"></script>

<script type="javascript">
// last minute
document.addEventListener('DOMContentLoaded', function (/*event*/) {
  dstj.gui.updateVersionSelect();
});
</script>
</head>

<body>

  <h2>DICOM Part06 xml2json</h2>

  <p>
    DICOM versions: <a href="http://dicom.nema.org/medical/dicom/" target="_parent">dicom.nema.org/medical/dicom/</a>
  </p>

  <br>Defaults to local 2015c part06
  (<a href="http://medical.nema.org/medical/dicom/2015c/source/docbook/part06/part06.xml" target="_parent">xml</a>,
  <a href="http://medical.nema.org/medical/dicom/2015c/output/html/part06.html" target="_parent">html</a>)).

  <br/>Or
  <label for="dicomVersions">choose a version:</label>
  <select name="dicomVersions" id="dicomVersions"></select>
  <span id="versionLinks"></span>

  <br/>Or
  <label for="fileupload">file to parse: </label>
  <input id="fileupload" type="file">

  <br/>
  <button onclick="dstj.gui.onParseButton()">Parse</button>

  <div id="output"></div>

</body>

</html>
